* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
  button {
    background-color: rgb(243, 151, 14);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
  }
  
  #placeholder {
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
    background-color: rgb(229, 255, 0);
  }
  body{
    background-color: rgb(0, 255, 0);
}
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;   

}
table{
    width: 40%;
    margin: auto;
}
tr,th{
    height: 50px;
}
img{
  width:40px ;
  height: 40px;
  border: 2px solid black;
  background-color: aqua;
}
